---
layout: default
---

<div class="hero">
  <div class="hero-content">
    <h2 id="greeting">Good Morning,</h2>
		<p>Welcome to my small patch of the internet. This is where I write about web development, mostly Ruby, Rails, OOP and JavaScript</p>
  </div>
</div>

<div class="container">
<div class="blog-front-page">
  {% for post in site.posts  %}
  {% if post.type =="blog"%}
    {% include post.html %}
  {% endif %}
  {% endfor %}
</div>
<div class="field-notes-front-page cards">
  <div class="card">
    <div class="card-header">FIELD NOTES</div>
    <div class="card-copy">
      Small notes and things I have learned from blogs, podcasts and training videos
    </div>
  </div>
  {% for post in site.posts  %}
    {% if post.type =="field-note"%}
      {% include card.html %}
    {% endif %}
  {% endfor %}
</div>
</div>



