
<nav class="js-menu sliding-panel-content type-system-rounded">
  <h6>Where I am</h6>
    <ul>
      <li>
        <a href="mailto:robert.gunner.feie@gmail.com"><i class="fa fa-inbox"
                                                         aria-hidden="true"></i> robert.gunner.feie@gmail.com
        </a>
      </li>
      <li><a href="https://github.com/rfeie">
        <i class="fa fa-github" aria-hidden="true"></i> @rfeie
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/rfeie">
          <i class="fa fa-linkedin" aria-hidden="true"></i> rfeie
        </a></li>
    </ul>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>
