
<nav class="js-menu sliding-panel-content type-system-rounded">
    <p>The internet is a big place. Like a ball pit bigger than would shame any
    Chuck E. Cheese. But here are my other outposts on the internet</p>
    <ul>
      <li>
        <a href="mailto:robert.gunner.feie@gmail.com"><i class="fa fa-inbox"
                                                         aria-hidden="true"></i> robert.gunner.feie@gmail.com
        </a>
      </li>
      <li><a href="https://github.com/rfeie">
        <i class="fa fa-github" aria-hidden="true"></i> @rfeie
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/rfeie">
          <i class="fa fa-linkedin" aria-hidden="true"></i> rfeie
        </a></li>
    </ul>
</nav>
<div class="js-menu-screen sliding-panel-fade-screen"></div>
