
<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/assets/logo.svg" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/blog.html">Blog</a></li>
        <li class="nav-link"><a href="/field-notes">Field Notes</a></li>
        <li class="nav-link"><a href="/about">About Me</a></li>
        <li class="nav-link"><a href="/Uses">Uses</a></li>
        <li class="nav-link js-menu-trigger sliding-panel-button"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
