    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who I Am</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-pencil fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Born &amp; Bred Graphic Designer</h4>
                    <p class="text-muted">Second generation designer. Formally trained in understanding form and function. Learned that usability and accessibility is a prime concern. Something that is not well designed will not be used.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-terminal fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Self-Taught Programmer</h4>
                    <p class="text-muted">Started with MOOCs. Poured over books, manuals, and online communities to discover what type of development is the best fit. Built a command line ruby chess game. Attend meetups to hone web development skills. All while working a demanding full-time job.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-microphone fa-stack-1x"></i>
                    </span>
                    <h4 class="service-heading">Podcast Enthusiast</h4>
                    <p class="text-muted">Enjoys indulging in wide variety of comedy and history podcasts. Current favorites include Hardcore History and Spontaneanation. What do you listen to?</p>
                </div>
            </div>
        </div>
    </section>