    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">What I know and some of the classes I have took</h3>
                </div>
            </div>
            <div class="row text-center skill-list-container">
                <ul class="skill-list">
                    {% for skill in site.author.skills %}
                        <li class="skill-list-item skill-list">{{skill.name}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row text-center">
                <h3 class="section-heading">Classes</h3>
                {% for class in site.author.classes %}
                <div class="col-md-3">
                        <h4 class="service-heading">{{ class.provider }}</h4>
                        {% if class.class_name %}
                            <p class="text-muted">{{class.class_name}}</p>
                        {% endif %}                        
                        {% if class.description %}
                            <p class="text-muted">{{class.description}}</p>
                        {% endif %}                        

                </div>
               {% endfor %}
            </div>
        </div>
    </section>