body {
  background-color: $background-color;
  color: $text-color;
}
.container {
   @include outer-container;
   padding: $base-spacing;
}

h1 {
  font-family: $sans-serif-2;
  font-size: 1.8em;
  margin-bottom: 0.5em;

  @include media($medium-screen-up) {
    font-size: 2.4em;
  }
}

h2 {
  font-family: $sans-serif-2;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;

  @include media($medium-screen-up){
    font-size: 1.4em;
  }
}

a {
  color: $secondary-color;
	&:hover, &:visited {
		color: darken($secondary-color, 30%);
	}
}

figure.highlight pre code {
  display: block;
  white-space: inherit;
  padding-top: 1em;
  padding-bottom: 1em;
}
